/*copied from almostobsolete.net
*/

/* to avoid wobble when scroll bar appears: https://css-tricks.com/eliminate-jumps-in-horizontal-centering-by-forcing-a-scroll-bar/  */
html {overflow-y: scroll;}

* {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

table {width: 400px; float: right; margin-bottom: 1em;}
th {text-align: left;}
img { align: left; }
/*img { float: left; ;}*/
pre {clear: both;}

/* * {font-family: 'lucida grande', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', helvetica, sans-serif;}*/
/* #title {margin: auto; width: 100%; overflow: hidden; font-size: 80%}*/
#content, #postamble {margin: auto; width: 45em;}

h2 { font-size: 14pt; font-weight: bold}
h3 { font-size: 12pt; font-weight: bold}
h4 { font-size: 12pt; font-weight: bold}
body { font-size: 12pt; margin: auto; margin-top:0.4cm; width: 45em;}

/* Needed to make the JS work on mauro's site*/
.outline-2 > h2 {
    cursor: pointer;
    border-bottom: 1px dashed #FFF;
}
/* Lists */
ul {list-style:"-";}
/* ol {list-style:upper-roman;} */
/* ul {list-style-type:none} */
/* ul li:before { content: "+ "; color: black;} */


a { color: black; }
a:hover { color: white; background-color: black;}
/*a:before { content: ""; color: black; background-color: white;}
a:after { content: ""; color: black; background-color: white;}*/
p { text-align: justify; /*margin-bottom: 2em; margin-top: 2em;*/}
pre.code, pre.example {border: 2px dashed black}
#postamble p {
    margin: 0px;
}

code {
    font-family: "Courier New", Courier, monospace;
}

.tag {
    float: right;
    background-color: white;
    color: #BEBEBE;
}

.tag span:before {
    content: ":";
}

.tag:after {
    content: ":";
}

div.figure { font-style:italic; }

.title { align: left; font-size: 18pt; font-weight: bold; }


/* Styles for org-info.js */

.org-info-js_info-navigation
{
    border-style:none;
}

#org-info-js_console
{
    color:#333333;
    margin:0px;
    background-color:#ffffff;
}

#org-info-js_console-input
{
    background-color:#ffffff;
    border-style:none;
    color:#333333;
    padding-left:10px;
    vertical-align:middle;
}

#org-info-js_console-label
{
    font-size:11px;
    font-weight:bold;
    padding-left:10px;
    font-family:Verdana,Arial,sans-serif;
    vertical-align:middle;
}

.org-info-js_console-label-warning
{
    color:#cc0000;
}

#org-info-js_console-container
{
    border:1px solid #cccccc;
}

.org-info-js_search-highlight
{
    background-color:#adefef; /* emacs default */
    color:#000000;
    font-weight:bold;
}
/* END STYLES FOR org-info.js */